/*
* Copyright (c) 2024 STMicroelectronics
*
* SPDX-License-Identifier: Apache-2.0
*/

/dts-v1/;
#include <mem.h>
#include <st/h5/stm32h5.dtsi>
#include <st/h5/stm32h523cctx-pinctrl.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
	model = "Compartment Control Board";
	compatible = "st,nucleo";
	
	sram1: memory@20000000 {
		compatible = "zephyr,memory-region", "mmio-sram";
		reg = <0x20000000 DT_SIZE_K(128)>;
		zephyr,memory-region = "SRAM1";
	};
	
	sram2: memory@20040000 {
		compatible = "zephyr,memory-region", "mmio-sram";
		reg = <0x20040000 DT_SIZE_K(80)>;
		zephyr,memory-region = "SRAM2";
	};
	
	
	soc {
		
		compatible = "st,stm32h533", "st,stm32h5", "simple-bus";
		
		flash-controller@40022000 {
			flash0: flash@8000000 {
				reg = <0x08000000 DT_SIZE_K(512)>;
			};
		};
		
		gpiof: gpio@42021400 {
			compatible = "st,stm32-gpio";
			gpio-controller;
			#gpio-cells = <2>;
			reg = <0x42021400 0x400>;
			clocks = <&rcc STM32_CLOCK_BUS_AHB2 0x00000080>;
		};
		
		fdcan2: can@4000a800 {
			compatible = "st,stm32-fdcan";
			reg = <0x4000a800 0x400>, <0x4000ac00 0x6a0>;
			reg-names = "m_can", "message_ram";
			interrupts = <109 0>, <110 0>;
			interrupt-names = "int0", "int1";
			/* common clock FDCAN 1 & 2 */
			clocks = <&rcc STM32_CLOCK_BUS_APB1_2 0x00000200>;
			bosch,mram-cfg = <0x350 28 8 3 3 0 3 3>;
			status = "disabled";
		};
	};
	
	chosen {
		zephyr,console = &usart1;
		zephyr,shell-uart = &usart1;
		zephyr,sram = &sram1;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
	};
	
	leds: leds {
		compatible = "gpio-leds";
		led_1_2: led_0 {
			gpios = <&gpioc 13 GPIO_ACTIVE_HIGH>;
			label = "Debug LED 1";
		};
		
		led_2_2: led_1 {
			gpios = <&gpioc 14 GPIO_ACTIVE_HIGH>;
			label = "Debug LED 2";
		};
		
		led_3_2: led_2 {
			gpios = <&gpioc 15 GPIO_ACTIVE_HIGH>;
			label = "Debug LED 3";
		};
	};
	
	zephyr,user {
		cs-cb-gpios = <&gpioa 0 GPIO_ACTIVE_HIGH>;
		e-lock-fb1-gpios = <&gpiob 5 GPIO_ACTIVE_HIGH>;
		e-lock-fb2-gpios = <&gpiob 4 GPIO_ACTIVE_HIGH>;
		e-lock-en-gpios = <&gpiob 0 GPIO_ACTIVE_HIGH>;
		p-lock-fb-gpios = <&gpiob 3 GPIO_ACTIVE_HIGH>;
		p-lock-en-gpios = <&gpioa 7 GPIO_ACTIVE_HIGH>;
		fdcan1-stb-gpios = <&gpiob 6 GPIO_ACTIVE_HIGH>;
		fdcan2-stb-gpios = <&gpiob 2 GPIO_ACTIVE_HIGH>;
	};
	
	aliases {
		debug-led1 = &led_1_2;
		debug-led2 = &led_2_2;
		debug-led3 = &led_3_2;
		
		state-fb = &adc1;
		
		rfid = &usart3;
		
		bat-can = &fdcan1;
		system-can = &fdcan2;
		
		watchdog0 = &iwdg;
		die-temp0 = &die_temp;
		volt-sensor0 = &vref;
		volt-sensor1 = &vbat;
	};
};

&clk_csi {
	status = "disabled";
};

&clk_hsi {
	status = "disabled";
};

&clk_hse {
	clock-frequency = <DT_FREQ_M(48)>;
	status = "okay";
};

&pll {
	div-m = <3>;
	mul-n = <8>;
	div-p = <2>;
	div-q = <2>;
	div-r = <2>;
	clocks = <&clk_hse>;
	status = "okay";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(64)>;
	ahb-prescaler = <1>;
	apb1-prescaler = <1>;
	apb2-prescaler = <1>;
	apb3-prescaler = <1>;
};

&usart1 {
	pinctrl-0 = <&usart1_tx_pa9 &usart1_rx_pa10>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};

&usart3 {
	pinctrl-0 = <&usart3_tx_pb10 &usart3_rx_pb1>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};

&iwdg {
	status = "okay";
};

&timers3 {
	st,prescaler = <1000>;
	status = "okay";
	
	pwm3: pwm {
		pinctrl-0 = <&tim3_ch3_pb0>;
		pinctrl-names = "default";
		status = "okay";
	};
};

&adc1 {
	pinctrl-0 = <&adc1_inp18_pa4>;
	pinctrl-names = "default";
	st,adc-clock-source = <ASYNC>;
	st,adc-prescaler = <8>;
	status = "okay";
};

&fdcan1 {
	pinctrl-0 = <&fdcan1_rx_pa11 &fdcan1_tx_pa12>;
	pinctrl-names = "default";
	clocks = <&rcc STM32_CLOCK_BUS_APB1_2 0x00000200>,
	<&rcc STM32_SRC_PLL1_Q FDCAN_SEL(1)>;
	clk-divider = <2>;
	status = "okay";
};

&fdcan2 {
	pinctrl-0 = <&fdcan2_rx_pb12 &fdcan2_tx_pb13>;
	pinctrl-names = "default";
	clocks = <&rcc STM32_CLOCK_BUS_APB1_2 0x00000200>,
	<&rcc STM32_SRC_PLL1_Q FDCAN_SEL(1)>;
	clk-divider = <2>;
	status = "okay";
};

&die_temp {
	status = "okay";
};

&vref {
	status = "okay";
};

&vbat {
	status = "okay";
};

&rng {
	status = "okay";
};

&clk_lse {
	status = "disabled";
};

&rtc {
	clocks = <&rcc STM32_CLOCK_BUS_APB3 0x00200000>,
	<&rcc STM32_SRC_LSE RTC_SEL(1)>;
	status = "okay";
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 DT_SIZE_K(112)>;
			read-only;
		};
		/* The MCUBoot swap-move algorithm uses the last 2 sectors
		 * of the primary slot0 for swap status and move.
		 */
		slot0_partition: partition@1c000 {
			label = "image-0";
			reg = <0x0001c000 (DT_SIZE_K(128))>;
		};
		scratch_partition: partition@3c000 {
			label = "image-scratch";
			reg = <0x0003c000 DT_SIZE_K(32)>;
		};
	};
};